name: Build and deploy Spring Boot (Gradle) to Azure

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: List generated files
        run: ls -la build/libs

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: reporte-ciudadano
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: build/libs/ReportesCiudadanos-0.0.1-SNAPSHOT.jar
